* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

header .hero-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    right: 20px;
    justify-content: flex-end;
}

header .hero-input .hero-input-container {
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3f40423f;
    overflow: hidden;
    border-radius: 20px;
}

header .hero-input .hero-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

header .hero-input .hero-input-container span {
    width: 39px;
    height: 39px;
    background-image: url(./Recursos/icons/azuna.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header .hero-input .hero-input-container input {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

header .hero-input .hero-input-container .micro-icon {
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

header .hero-info {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header .hero-info .hero-title,
header .hero-info .hero-text {
    margin: 20px;
    text-align: center;
}

header .hero-button-container {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

header .hero-button-container button {
    height: 35px;
    width: 120px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    background-color: orange;
    padding: 10px;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 33.33333fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

main h1 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 10px;
}

main p {
    font-size: 1.4rem;
    margin: 10px;
}

main .animeCard {
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: grid;
    overflow: hidden;
    object-fit: contain;
}

main .anime-info {
    width: 100%;
    height: auto;
    z-index: 5;
}

main .anime-text {
    display: flex;
    height: 100px;
    align-items: center;
}

main .animeCard::before {
    content: "";
    position: absolute;
    width: 33.2%;
    height: 200px;
    background: linear-gradient(90deg, #ffffff 20%, rgba(0, 0, 0, 0));
}

main .animeCard .button-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

main .animeCard .button-container button {
    height: 25px;
    width: 30%;
    background-color: orange;
    border: none;
    border-radius: 20px;
    z-index: 5;
}

@media (max-width: 1159px) {
    header .hero-info .hero-title {
        font-size: 1.8rem;
    }

    header .hero-info .hero-text {
        font-size: 1.4rem;
    }
}

@media (max-width: 914px) {
    header {
        grid-template-columns: minmax(500px, 1fr);
        background-image: url(./Recursos/Kimetsu-no-Yaiba-hero.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #ffffff 20%, rgba(0, 0, 0, 0));
    }

    header .hero-info {
        width: 50%;
        margin: 0 0 0 5%;
        z-index: 1;
    }

    header img {
        display: none;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    }
}

@media (max-width: 600px) {

    main .animeCard::before {
        width: 75%;
        height: 200px;
        background: linear-gradient(90deg, #ffffff 20%, rgba(0, 0, 0, 0));
    }

}

@media (max-width: 585px) {
    header {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
}